{% extends "layout.jinja" %}

{% block title %}
    <title>Zivot - Cadastro</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-left">Como gostaria de se cadastrar</div>
            <div class="col-6 text-center">
                <div class="row">
                    <div class="col-12">Como usuario</div>
                    <div class="col-12">Gostaria de poder agendar consulta com os profissionais disponíveis.</div>
                    <a href="/cadastro/paciente"><button type="button" class="btn btn-primary">Continuar</button></a>
                </div>
            </div> 
            <div class="col-6 text-center">
                <div class="row">
                    <div class="col-12">Como profissional</div>
                    <div class="col-12">Gostaria de disponibilizar minha agenda e ser um profissonal Zivot.</div>
                    <a href="/cadastro/profissional-de-saude"><button type="button" class="btn btn-primary">Continuar</button></a>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
