{% extends "layout.jinja" %}
{% from 'formularios.jinja' import render_field %}

{% block title %}
    <title>Entrar - Zivot</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 text-left bg-white">
                <div class="row">
                    <div class="col-12 text-left">Entrar</div>
                    <form action="/" method=post>
                        <div class="form-group">{{ render_field(form.email) }}</div>
                        <div class="form-group">{{ render_field(form.senha) }}</div>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <br>
                        <a href="/recuperacao-de-senha">Esqueceu sua senha?</a>
                        <br>
                        <button onclick="location.href='/cadastro'" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}
