{% extends "layout.jinja" %}
{% block body %}
<p>BAD {{a}} MOTHER FUCKER</p>

<img src="{{ url_for('static',filename='uploads/g.jpg')}}" >
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<b>YOYO estilo </b>
<br>

{% endblock %}