<!doctype html>
<head>
	{% block title %}{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	{% block styles %}{% endblock %}
	<!--
	SEO
	DESCRIÇÃO
	DESENVOLVEDORES
	SOCIAL META TAG
	DEFINIR ROBOS
    -->
	<link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../static/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
	<link rel="manifest" href="../static/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link src="../static/css/style.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
	{% if session['logado'] == false %}
		<nav class="navbar navbar-light">
			<img onclick="location.href='/inicio'" class="navbar-logo" src="../static/images/zivot_logo.png" alt="">
			<div class="btn-group">
				<a class="trabalhe-conosco" href="/trabalhe-conosco">Trabalhe Conosco</a>
				<div class="drop-link dropdown show">
					<a class="nav-link dropdown-toggle" href="#" role="button" id="loginDropwdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Entrar/Cadastrar
					</a>
					<div class="dropdown-menu menu-entrar" aria-labelledby="loginDropwdown">
						<a class="dropdown-item" href="/entrar">Entrar</a>
						<a class="dropdown-item" href="/cadastro">Cadastrar</a>
					</div>
				</div>
			</div>	
		</nav>
	{% elif session['logado'] == true %}
		<nav class="navbar navbar-light">
			<img class="navbar-logo" src="../static/images/zivot_logo.png" alt="">
			<div class="btn-group">
				<span class="navbar-text">Bem vindo, Juca</span>

				<div class="drop-link dropdown show">
					<a class="nav-link" href="#" role="button" id="userWallet" data-target="#menuCarteira" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">account_balance_wallet</i>R$
						<span id="userWalletMoney">0,00</span>
					</a>
					<div id="menuCarteira" class="dropdown-menu menu-entrar" aria-labelledby="userWallet">
						{% if session['tipo'] == "paciente" %}
							<a class="dropdown-item" href="#">Solicitar deposito em conta</a>
						{% elif session['tipo'] == "profissional" %}
							<a class="dropdown-item" href="#">Relatorio do mês atual</a>
						{% endif %}
					</div>
				</div>
				
				<div class="drop-link dropdown show">
					<a class="nav-link" href="#"  role="button" id="userNotification" data-target="#menuNotificacoes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="material-icons">notifications_none</i>
					</a>
					<div id="menuNotificacoes" class="dropdown-menu menu-entrar" aria-labelledby="userNotification">
						<div id="ultimas-notificacoes">
							<a class="notify-item">
								<span class="notify-conteudo">Sua consulta foi agendada!</span>
								<span class="notify-hora text-right">Ontem</span>
							</a>
						</div>	
						<a class="dropdown-item notify-button" href="#">Visualizar mais notificações</a>
					</div>
				</div>
				<div class="drop-link dropdown show">
					<a class="nav-link" href="#" role="button" id="userMenuDropdown" data-target="#menuUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="">
					</a>
					<div id="menuUsuario" class="dropdown-menu menu-entrar" aria-labelledby="userMenuDropdown">
						{% if session['tipo'] == "paciente" %}
							<a class="dropdown-item" href="/painel-paciente">Buscar profissionais</a>
							<a class="dropdown-item" href="#">Editar perfil</a>
							<a class="dropdown-item" href="/minhas-consultas">Consultas</a>
							<a class="dropdown-item" href="/sair">Sair</a>
						{% elif session['tipo'] == "profissional" %}
							<a class="dropdown-item" href="/painel-profissional">Painel</a>					
							<a class="dropdown-item" href="#">Consultas</a>
							<a class="dropdown-item" href="#">Horarios</a>
							<a class="dropdown-item" href="#">Perfil</a>
							<a class="dropdown-item" href="#">Editar Perfil</a>
							<a class="dropdown-item" href="/sair">Sair</a>
						{% endif %}
					</div>
				</div>
			</div>	
		</nav>
	{% endif %}

	{% block body %}{% endblock %}

</body>
<footer class="page-footer font-small blue pt-4">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-3">
				<h5 class="text-uppercase">Links</h5>
				<ul class="list-unstyled">
					<li><a href="/perguntas-frequentes">Perguntas frequentes</a></li>
					<li><a href="#!">Link 2</a></li>
					<li><a href="#!">Link 3</a></li>
					<li><a href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3">Zivot © 2019 Todos os direitos reservados.</div>
	{% block scripts %}{% endblock %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>
