{% extends "layout.jinja" %}
{% block title %}
<title>Perguntas frequentes - Zivot</title>
{% endblock %}
{% block body %}
<div id="conteudo-container" class="row container-fluid">
    <div class="col-2"></div>
    <div class="row accordion col-8" id="accordion">
        <div class="col-12">Dúvidas frequentes</div>
        <div class="col-12">Como podemos ajudar você?</div>
        <div class="col-12">Respondemos as principais perguntas do pessoal</div>
        <div class="col-12">Clique em uma das opções para seguir: <a href="#usuarios">Usúarios</a> <a
                href="#profissionais">Profissonais</a></div>

        <div id="usuarios" class="col-12">Usúarios</div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta1"
                aria-expanded="true">
                O que é a Zivot?
            </div>
            <div id="pergunta1" class="collapse card-body" data-parent="#accordion">
                <p>
                    A Zivot é uma plataforma que conecta profissionais de saúde e pacientes, promovendo acesso rápido a
                    saúde e comodidade para todos. Os pacientes realizam cadastro, escolhem o profissional de acordo com
                    suas preferências de hora e local e agendam a consulta.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta2"
                aria-expanded="true">
                Quem faz parte da equipe Zivot?
            </div>
            <div id="pergunta2" class="collapse card-body" data-parent="#accordion">
                <p>
                    Profissionais de diversas áreas da saúde. Além dos nossos psicólogos e médicos credenciados, temos
                    uma equipe multidisciplinar composta por: fisioterapeutas, nutricionistas, preparadores físicos e
                    etc.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta3"
                aria-expanded="true">
                Como me cadastrar na Zivot?
            </div>
            <div id="pergunta3" class="collapse card-body" data-parent="#accordion">
                <p>
                    Se você busca atendimento, basta acessar o site XXXXXXXXXXXXXX (direcionar para o cadastro) e
                    realizar o seu cadastro. Se você é um Profissional da Saúde.(Psicólogo, Médico...), retire todas as
                    dúvidas na nossa página XXXXXXXXXXXXX(direcionar para Trabalhe conosco). Nossa equipe de
                    credenciamento entrará em contato. Validando os documentos necessários para você estar apto a
                    realizar atendimentos aos nossos pacientes.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta4"
                aria-expanded="true">
                A plataforma é segura?
            </div>
            <div id="pergunta4" class="collapse card-body" data-parent="#accordion">
                <p>
                    Extremamente segura. Os seus dados são confidenciais. E nossos profissionais são altamente
                    capacitados e vamos garantir a máxima qualidade ao indicar o profissional para você.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta5"
                aria-expanded="true">
                Vou receber lembretes dos meus agendamentos?
            </div>
            <div id="pergunta5" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim, tanto o paciente quanto o profissional recebem um avisos com os detalhes do agendamento assim
                    que a sessão for confirmada.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta6"
                aria-expanded="true">
                Poderei avaliar o atendimento? </div>
            <div id="pergunta6" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim, após a realização do serviço, você poderá avaliar o profissional. Prestar um serviço de
                    qualidade é fundamental. Assim te ofertamos os melhores profissionais e você não leva susto.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta7"
                aria-expanded="true">
                Qual o valor da consulta? </div>
            <div id="pergunta7" class="collapse card-body" data-parent="#accordion">
                <p>
                    Os valores são definidos pelos respectivos profissionais e variam de acordo com cada especialidade.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta8"
                aria-expanded="true">
                Como é realizado o pagamento? </div>
            <div id="pergunta8" class="collapse card-body" data-parent="#accordion">
                <p>
                    O pagamento é realizado diretamente para o profissional no dia da consulta.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta9"
                aria-expanded="true">
                Sou estudante, tenho acesso a valores diferenciados? </div>
            <div id="pergunta9" class="collapse card-body" data-parent="#accordion">
                <p>
                    Caso você seja estudante, informar o nome da instituição de ensino superior ou ensino médio, curso,
                    período e ano de conclusão no momento do cadastro em XXXXXXXXXX(direcionar).
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta10"
                aria-expanded="true">
                Aceitam plano de saúde? </div>
            <div id="pergunta10" class="collapse card-body" data-parent="#accordion">
                <p>
                    Atualmente não atendemos nenhum convênio.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta11"
                aria-expanded="true">
                Quem pode ser atendido pelos profissionais Zivot? </div>
            <div id="pergunta11" class="collapse card-body" data-parent="#accordion">
                <p>
                    Qualquer pessoa pode ser atendido por nossos profissionais. Desde que não esteja em estado de
                    urgência/emergência. A Zivot não oferece atendimento de emergência. Caso seja o teu caso,
                    solicitamos ligar para o serviço de emergência de sua cidade (192 do SAMU ou 193 do Corpo de
                    bombeiros). Não oferecemos atendimento imediato a pessoas em crise suicida. No caso orientamos ligar
                    para o Centro de Valorização a Vida (disque 188) ou acesse https://www.cvv.org.br/, ou procure o
                    hospital mais próximo de você.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta12"
                aria-expanded="true">
                Se eu estiver descontente com o meu atendimento? </div>
            <div id="pergunta12" class="collapse card-body" data-parent="#accordion">
                <p>
                    Caso estiver insatisfeito com o atendimento prestado por um dos nossos profissionais após a
                    consulta. Existe a possibilidade de avaliar o serviço e o profissional e informar sobre o ocorrido.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta13"
                aria-expanded="true">
                Se eu precisar faltar a consulta? </div>
            <div id="pergunta13" class="collapse card-body" data-parent="#accordion">
                <p>
                    Solicitamos informar a falta a consulta 48 horas antes da mesma. Deixar de informar a
                    impossibilidade em tempo hábil levará você a ser classificado como faltante e assim reduzindo o
                    nível de confiança do teu perfil para o agendamento de novas consultas. Ocorrendo mais de uma vez,
                    seu perfil será bloqueado na plataforma.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta14"
                aria-expanded="true">
                Existe atendimento para estudantes carentes na Zivot? </div>
            <div id="pergunta14" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim. Possuímos vagas(limitadas) para atendimento PSICOLÓGICO aos estudantes carentes da
                    cidade(Ensino médio e Superior). Com preço acessível. Desde que comprovada a condição de fragilidade
                    socioeconômica. A falta em apenas uma consulta ocasionará exclusão imediata do atendimento.
                </p>
            </div>
        </div>

        <div id="profissionais" class="col-12">Profissionais</div>

        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta15"
                aria-expanded="true">
                A plataforma é segura? </div>
            <div id="pergunta15" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim. Seus dados são tratados de maneira confidencial. Sendo fornecido o endereço o local de consulta
                    somente após a sua confirmação.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta16"
                aria-expanded="true">
                Vou receber lembretes dos meus agendamentos? </div>
            <div id="pergunta16" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim, tanto o paciente quanto o profissional recebem um aviso.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta17"
                aria-expanded="true">
                Serei avaliado pelos meus pacientes? </div>
            <div id="pergunta17" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim, após a realização da consulta, o paciente avaliará o profissional. Prestar serviço de qualidade
                    premissa fundamental para ser bem avaliado e alcançar um ótimo posicionamento. </p>
                    <!--  -->
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta18"
                aria-expanded="true">
                Qual o valor da consulta? </div>
            <div id="pergunta18" class="collapse card-body" data-parent="#accordion">
                <p>
                    O valor de consulta é pelo profissional de acordo com a especialidade. Descontos podem ser
                    livremente ofertados para estudantes. Preços de acordo com o padrão do mercado. </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta19"
                aria-expanded="true">
                O que são as taxas transacionais? </div>
            <div id="pergunta19" class="collapse card-body" data-parent="#accordion">
                <p>
                    As taxas transacionais são os custo da operação de manutenção do serviço de cadastramento,
                    agendamento e MKT realizado pela Zivot ao profissional. Conta com as taxas financeira de
                    (processamento do pagamento online- se for o caso).
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta20"
                aria-expanded="true">
                Como eu recebo o valor da consulta ? </div>
            <div id="pergunta20" class="collapse card-body" data-parent="#accordion">
                <p>
                    O valor das consultas fica disponível para você no teu perfil, onde você cadastra seus dados bem
                    como os valores referentes as taxas transacionais. </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta21"
                aria-expanded="true">
                Como é a consulta online ?</div>
            <div id="pergunta21" class="collapse card-body" data-parent="#accordion">
                <p>
                    As consultas online ocorrem por plataformas existentes(Skype, Whatsapp...) Profissional( Somente
                    Psicólogo) e paciente realizarão uma videoconferência agendada previamente e confirmada com 24 horas
                    de antecedência.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta22"
                aria-expanded="true">
                Como o paciente me encontra ?</div>
            <div id="pergunta22" class="collapse card-body" data-parent="#accordion">
                <p>
                    O paciente pode fazer a busca tanto para consulta presencial, ou online. Desde que você aceite deixe
                    definido na agendo do teu perfil se o atendimento é online ou presencial(recurso válido somente para
                    Psicólogos). Para aparecer nas buscas é necessário que você tenha agenda cadastrada e aberta.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta23"
                aria-expanded="true">
                É gerado histórico de consultas?</div>
            <div id="pergunta23" class="collapse card-body" data-parent="#accordion">
                <p>
                    Sim, todas as consultas e avaliações irão para o histórico do seu perfil no site. Apenas após a tua
                    confirmação de horário o paciente tem acesso ao local de realização da consulta.
                </p>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header dropdown-toggle" data-toggle="collapse" data-target="#pergunta24"
                aria-expanded="true">
                Caso o paciente faltar sem aviso prévio? </div>
            <div id="pergunta24" class="collapse card-body" data-parent="#accordion">
                <p>
                    Você poderá avaliar o paciente sempre após a consulta ou informar a falta do mesmo. Assim gerando
                    maior confiança no sistema de atendimento e escolha do paciente.
                </p>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>
{% endblock %}