{% extends "layout.jinja" %}
{% block title %}
<title>Trabalhe conosco - Zivot</title>
{% endblock %}
{% block body %}
<div id="conteudo-container" class="container-fluid">
    <div class="row">
        <div class="col-12 text-left">Por que usar a Zivot?</div>
        <div class="col-12">
            <p>O agendamento online é uma realidade crescente em todo o mundo.</p>
            <p>O nível de confiança na Zivot para o agendamento de consultas.</p>
            <p>Disponibilize seu Horários de agenda de forma prática. Avalie os seus pacientes.</p>
            <p>Disponibilize seu Horários de agenda de forma prática. Avalie os seus pacientes.</p>
            <p>Complicação na agenda tem remédio! Gerencie sua agenda de consultas com mais eficiência. Nosso site é
                completo e fácil de usar.</p>
            <p>A Zivot é para todos os profissionais. Seja visto diariamente</p>
            <p>Esqueça a burocracia e preocupe-se com o que realmente importa: os pacientes.</p>
        </div>
        <div class="col-12 text-left">Comodidade</div>
        <div class="col-12">
            <p>Sua agenda fica disponível 24 horas, 7 dias por semana. De onde estiver. Liberdade para administrar seus
                horários: suas regras.
            </p>
        </div>
        <div class="col-12 text-left">Produtividade</div>
        <div class="col-12">
            <p>Sem ligações inoportunas no seu consultório, sua equipe poderá melhorar e aumentar a sua performance.
            </p>
        </div>
        <div class="col-12 text-left">Visibilidade</div>
        <div class="col-12">
            <p>Aumente sua presença online e seja descoberto por novos pacientes. Na Zivot você está 24h na rede com sua
                agenda. Seja facilmente nas redes sociais, melhore o seu posicionamento em buscas no Google. Você não
                precisa desenvolver nada.
            </p>
        </div>
        <div class="col-12 text-left">Otimização</div>
        <div class="col-12">
            <p>Atuamos na Redução de faltas, com lembretes automáticos e antecipação de consulta
            </p>
        </div>
        <div class="col-12 text-left">Como a Zivot funciona?</div>
        <div class="col-12">
            <p>A Zivot é uma empresa que vem acelerar o acesso a saúde. Por meio da plataforma os pacientes escolhem os
                profissionais, agendam a consulta de forma prática, ágil e segura. Dessa forma cumprimos nossa missão de
                conectar os pacientes aos melhores profissionais na área da saúde. Estamos procurando alguém com
                capacidade e energia para junto da nossa equipe melhorar cada vez mais o atendimento na saúde.</p>
        </div>
        <div class="col-12 text-left"> QUEM SOMOS?
        </div>
        <div class="col-12">
            <p>A Zivot é formada por um time de apaixonados por pessoas. Acreditamos facilitar o acesso as melhores
                condições de saúde e conforto por meio da tecnologia. Trabalhamos para proporcionar a todos um serviço
                com qualidade única, eficiência e segurança.
            </p>
        </div>

        <div class="col-12 text-left">A Missão da Zivot:
        </div>
        <div class="col-12">
            <p>Aproximar as pessoas de melhores condições de saúde.
            </p>
        </div>
        <div class="col-12 text-left">A Visão da Zivot:
        </div>
        <div class="col-12">
            <p>Que todos podem ter acesso a condições e a profissionais de saúde melhores no Brasil.
            </p>
        </div>
        <div class="col-12 text-left">Os valores da Zivot:
        </div>
        <div class="col-12">
            <p>Transparência, Dedicação, Autonomia
            </p>
        </div>
        <div class="col-12 text-left">Nossa Crença:
        </div>
        <div class="col-12">
            <p>Para Remover Barreiras e Construir um futuro melhor, inovadores devem acreditar na realização de um Sonho
                Grande.
            </p>
        </div>
        <div class="col-12 text-left"></div>
        <div class="col-12"><p></p></div>
    </div>
</div>
{% endblock %}